In [98]:
import pandas as pd

In [99]:
df = pd.read_csv('evaluation_results.csv', dtype=str)

In [100]:
df.keys()

Index(['file', 'number', 'question', 'model_answer', 'correct_answer'], dtype='object')

In [101]:
df[['file', 'number', 'model_answer', 'correct_answer']].head()

                  file number model_answer correct_answer
0  22000_-職業安全管理學科.csv      1            6              4
1  22000_-職業安全管理學科.csv      2            2              2
2  22000_-職業安全管理學科.csv      3            ③              3
3  22000_-職業安全管理學科.csv      4            2              2
4  22000_-職業安全管理學科.csv      5            4              4

In [102]:
def circled_to_int(char):
    circled_numbers = [
        '①', '②', '③', '④', '⑤', 
        '⑥', '⑦', '⑧', '⑨', '⑩',
        '⑪', '⑫', '⑬', '⑭', '⑮',
        '⑯', '⑰', '⑱', '⑲', '⑳'
    ]
    if char in circled_numbers:
    # Unicode code point of '①' is 0x2460
        return ord(char) - ord('①') + 1
    else:
        return char

In [103]:
total = 0
correct = 0
for index, row in df.iterrows():
    model_answer = "".join([str(circled_to_int(i)) for i in str(row['model_answer'])])
    total += 1
    if str(model_answer) == str(row['correct_answer']):
        correct += 1
    # print(f"{row['file']} #{row['number']}: \t", f"{model_answer}" , row['correct_answer'])

In [104]:
print(f"Accuracy: {correct/total} ({correct}/{total})")

Accuracy: 0.8074534161490683 (130/161)