In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('evaluation_results.csv', dtype=str)

In [3]:
df.keys()

Index(['file', 'number', 'question', 'model_answer', 'correct_answer'], dtype='object')

In [4]:
df[['file', 'number', 'model_answer', 'correct_answer']].head()

                    file number model_answer correct_answer
0  22200_-職業安全衛生管理學科.csv      1            ③              3
1  22200_-職業安全衛生管理學科.csv      2            3              3
2  22200_-職業安全衛生管理學科.csv      3            1              1
3  22200_-職業安全衛生管理學科.csv      4            2              2
4  22200_-職業安全衛生管理學科.csv      5            2              2

In [6]:
def circled_to_int(char):
    circled_numbers = [
        '①', '②', '③', '④', '⑤', 
        '⑥', '⑦', '⑧', '⑨', '⑩',
        '⑪', '⑫', '⑬', '⑭', '⑮',
        '⑯', '⑰', '⑱', '⑲', '⑳'
    ]
    if char in circled_numbers:
    # Unicode code point of '①' is 0x2460
        return ord(char) - ord('①') + 1
    else:
        return char

In [ ]:
total = 0
correct = 0
wrong_df = df.iloc[0:0].copy()
for index, row in df.iterrows():
    model_answer = "".join([str(circled_to_int(i)) for i in str(row['model_answer'])])
    total += 1
    if str(model_answer) == str(row['correct_answer']):
        correct += 1
    else:
        wrong_df = pd.concat([wrong_df, row.to_frame().T], ignore_index=True)
    print(f"{row['file']} #{row['number']}: \t", f"{model_answer}" , row['correct_answer'])

In [8]:
print(f"Accuracy: {correct/total} ({correct}/{total})")

Accuracy: 0.725584182144997 (3633/5007)

In [ ]:
wrong_df

In [ ]:
for index, row in wrong_df.iterrows():
    print(f"{row['file']} #{row['number']}: \t", f"{model_answer}" , row['correct_answer'], row['question'])